{# About us #}

<div class="title-sec text-center bg-gray full-title">
		<div class="container">
			{{ title_prefix }}
				<h2 class="red-text title"><span>{{ label }}</span></h2>		
			{{ title_suffix }}
			{{ content.body }}
		</div>
	</div>

{{ content.field_paragraphs }}
