<div class="title-sec text-center bg-gray full-title">
		<div class="container">
			<div class="page-title">
				<a href="javascript:history.back()" class="back-btn gray-text2"><img src="/{{ directory }}/images/left-arrow.png"> Back</a>
				<h2 class="red-text title"><span>{{ title_prefix }}{{ label|raw }}<br/>{{ sub_title|raw }}{{ title_suffix }}</span></h2>
				{{body|raw}}

			</div>
		</div>
	</div>
